@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @ViewBag.DateFrom;
    <p> - </p>

    @ViewBag.DateTo;
    <p> - </p>

    @ViewBag.Number;
    <p> - </p>
    <p> - </p>


    @ViewBag.Rooms;

}
